*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: url("../img/reg.jpg") no-repeat  ;
    background-size: 100% ;

}
.rg_layout{
    width: 900px;
    height: 500px;
    border: 5px solid #EEEEEE;
    background-color: white;
    /*让div水平居中*/
    margin: auto;
    margin-top: 160px;
    opacity: 70%;
}
.rg_left{
    float: left;
    margin: 15px;
    width: 20%;
}
.rg_left > p:first-child{
    color: #3CD8FF;
    font-size: 20px;
}
.rg_left > p:last-child{
    color: #A6A6A6;
}
.rg_center{
    /*border: 1px solid red;*/
    float: left;
    width: 450px;
    margin-top: 115px;
}
.rg_right{
    float: right;
    margin: 15px;
}
.rg_right > p:first-child{
    font-size: 15px;
}
.rg_right p a {
    color: #3CD8FF;
}
.td_left{
    width: 100px;
    text-align: right;
    height: 45px;
}
.td_right{
    padding-left: 50px;
}
#username,#password,#email,#name,#phoneNum,#checkcode,#birthday{
    width: 251px;
    height: 32px;
    border: 1px solid #A6A6A6;
    /*设置边框圆角*/
    border-radius: 5px;
    padding-left: 10px ;
}
#checkcode{
    width: 110px;
}
#checkCodeImg{
    height: 32px;
    /*设置垂直居中*/
    vertical-align: middle;
}
#btn_sub{
    position: relative;
    top: 30px;
    left: 130px;
    width: 150px;
    height: 40px;
    background-color: #3CD8FF;
    border: 1px solid #3CD8FF;
}
#btn_sub:hover{
    background-color: #7abdce;
}